<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block head_title %}Admin-Login{% endblock head_title %}</title>
    {% include 'bootstrap5.html' %} {% include 'snippets/navbar.html' %} {% load static %}
  </head>
  <link href="{% static 'assets/css/admin.css' %}" rel="stylesheet" />
  <body>
    <section class="h-100 gradient-form pt-5">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-xl-10 d-flex justify-content-center h-100">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col">
                  <div class="card-body p-md-5 mx-md-5">
                    <div class="text-center">
                      <img src="{% static 'assets/img/adaptive.png' %}" style="width: 185px" alt="Adaptive Network Laboratory Telkom University" />
                      <h4 class="mt-1 mb-5 pb-1">Adaptive Library</h4>
                      <!-- Mengganti tulisan -->
                    </div>

                    <form class="user" action="" method="POST">
                      {% if messages %}
                      <div class="alert alert-danger">
                        <ul>
                          {% for message in messages %}
                          <li>{{ message }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endif %} {% csrf_token %}
                      <p>Please login to your account</p>

                      <div data-mdb-input-init class="form-outline mb-4">
                        {{ form.username }}
                        <label class="form-label" for="username">Username</label>
                      </div>

                      <div data-mdb-input-init class="form-outline mb-4">
                        {{ form.password }}
                        <label class="form-label" for="password">Password</label>
                      </div>

                      <div class="text-center pt-1 mb-5 pb-1">
                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="login" name="submit">Log in</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
