body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  background-color: #343a40;
  color: black; /* Ubah warna teks navbar menjadi hitam */
  padding: 10px;
}

.navbar a {
  color: black; /* Ubah warna teks tautan navbar menjadi hitam */
  text-decoration: none;
  margin-right: 20px;
}

.form-container {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #c82333;
}

/* CSS yang baru */
.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: black !important; /* Ubah warna teks tautan navbar menjadi hitam */
}

.nav-link:hover {
  color: #ffc107 !important;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: black !important; /* Ubah warna teks item dropdown menjadi hitam */
}

.dropdown-item:hover {
  background-color: #ffc107;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-nav {
  margin-bottom: 7px;
}

/* .form-control {
    border-color: #ffc107;
  } */

.btn-outline-success {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-success:hover {
  color: #343a40;
  background-color: #ffc107;
}

.form {
  padding-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.form-check-label {
  margin-right: 1em;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.btn-outline-success:hover {
  color: #343a40; /* Mengubah warna teks saat dihover */
  background-color: #ffc107; /* Mengubah warna latar belakang saat dihover */
  border-color: #ffc107; /* Mengubah warna border saat dihover */
}
