<!DOCTYPE html>
<html lang=en>

<head>
<title>{% block head_tittle %}Perpustakaan{% endblock head_tittle %}</title>
{% include 'bootstrap5.html' %} {% include 'snippets/navbar.html' %} {% load static %}
{% include 'landingpage.html' %}


<head>
<!-- <body class="home">
    <h1>Hello World</h1>
    <h1>Aawokoawkoka</h1>
    <h1>Hello World</h1>
    <h1>-- List of Books --</h1>

    
    {% for item in all %}
        <strong> {{ item.judulBuku }} </strong> <br/>
        {{ item.penulisBuku }} <br/>
        {{ item.jumlahHalaman }} {{ item.tahunTerbit }} </br>
        <hr>
    {% endfor %}


</body> -->
</html>